img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin: 0 auto;
}

.rad {
    font-size: 13px;
    letter-spacing: 1px;
}

.rowT {
    width: 100px;
}

header {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(circle at center center, #ffca2c, #e5e5f7), repeating-radial-gradient(circle at center center, #ffca2c, #ffca2c, 10px, transparent 20px, transparent 10px);
    background-blend-mode: multiply;
    border-radius: 10px;
}

#logo {
    background-color: #e5e5f7;
    border-radius: 10px;
    box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.40);
    margin: 15px 15px 5px 15px;
}

header h1 {
    position: relative;
    color: #e5e5f7;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em 0.2em;
    top: 35px;
    padding-left: 30px;
}

#cartas {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #fdeec4;
    min-height: 100px;
    border-radius: 10px;
}

.card img{
    height: 50%;
}